// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.description {
  font-size: 22px;
  margin-top: 30px;
}

ul.navigation-links {
  font-size: 22px;
  list-style: none;
  display: flex;
}

.field_with_errors {
  padding: 2px;
  color: red;
  display: table;
}

div.random_card_for_check {
  margin-top: 50px;
  padding-bottom: 20px;
  background-color: #f0ad4e;
  border: 3px solid #398439;
  border-radius: 10px;
}

