// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.description {
  margin-top: 30px;
  font-size: 22px;
}
.navigation-links {
  list-style:none;
  font-size:22px;
}
